$accent: #f1644c;
$light-accent: #f67c5e;
$dark-gray: #797979;
$gray: #8a8a8a;
$dd-gray: #848484;
$light-gray: #c6c6c6;
$dropdown-bg: #f8f8f8;
$bg-gray: #c6c6c6;
$main-light: #fff;
$dark: #424242;

$blue: #0069ae;
$light-blue: #3c8dcc;

$hover-accent: #3b86ff;
$rbc-header: #f5f6fa;
$rbc-border: #eaf0f4;
$smog: #a5a4bf;
$hover-smog: #a3a0fb;
$light-gray: #bcbccb;

$bg: #efefef;
